<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css?yoni=om">
    <title>Keith Records Store | Welcome</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="brand">
          <a href="/"><img src="/images/record.png"></a>
        </div>
        <nav>
          <ul>
            <li><a href="/album">Stock Level</a></li>
            <li><a href="/album/new">New Album</a></li>
            <li><a href="/artist/new">New Artist</a></li>
            <li><a href="/artist">Artists</a></li>
            <li><a href="/genre/new">New Genre</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="main">
      <%= yield %>
    </div>
    <div class="gap">

    </div>
    <footer>
      <div class="credit">Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </footer>
  </body>


</html>
