<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Keith Records Store | Welcome</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/album">Stock Level</a></li>
        <li><a href="/album/new">New Album</a></li>
        <li><a href="/artist/new">New Artist</a></li>
        <li><a href="/artist">Artists</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
