<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Artist Name</th>
    </tr>
  </thead>
  <% for album in @albums %>
  <tbody>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.stock_level %></td>
      <td><%= Artist.find(album.artist_id).name %></td>
    </tr>
<% end %>
