body{
  margin: 0;
  padding: 0;
  background-color: #fff9e0;
  font-family: Arial, sans-serif, helvetica;
  color: #000770;
}

/*NAVBAR*/
nav{
  float: right;
  margin-right: 50px;
}

nav ul li{
  float: left;
  padding: 10px;
  list-style-type: none;
}

a{
  text-decoration: none;
}


/*MAIN*/
.main{
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
