<h1>Artists List</h1>

<table>
  <thead>
    <tr>
      <th>Artist Name</th>
      <th>Update Artist</th>
      <th>Delete Artist</th>
    </tr>
  </thead>
  <tbody>
    <% for artist in @artist %>
    <tr>
      <td><%= artist.name %></td>
      <td>
        <a href="/artist/<%= artist.id %>/update"><img src="images/rotate.png"</a>
      </td>
      <td>
        <form method="post" action="/artist/<%= artist.id %>/delete">
          <input type="image" src="/images/recycle-bin.png" />
        </form>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
