<h1>Add New Album</h1>

<div class="form">
  <form action="/album" method="post">
    <div class="field">
      <div class="label"><label for="title">Title: </label></div>
      <div class="input"><input type="text" name="title" id="title"/></div>
    </div>

    <div class="field">
      <div class="label"><label for="quantity">Quantity: </label></div>
      <div class="input"><input type="text" name="quantity" id="quantity"/></div>
    </div>

    <div class="field">
      <div class="label"><label for="artist-id">Select an Artist: </label></div>
      <div class="input"><select name="artist_id" id="artist-id">
        <% for artist in @artists %>
        <option value="<%= artist.id %>"><%=artist.name%></option>
        <% end %>
      </select></div>
    </div>

    <div class="field">
      <div class="label"><label for="genre-id">Select Genre: </label></div>
      <div class="input"><select name="genre_id" id="genre-id">
        <% for genre in @genres %>
        <option value="<%= genre.id %>"><%=genre.type%></option>
        <% end %>
      </select></div>
    </div>

    <div class="field">
      <div class="label"><label for="sell_price">Sell Price: </label></div>
      <div class="input"><input type="text" name="sell_price" id="sell_price"/></div>
    </div>

    <div class="field">
      <div class="label"><label for="buy_price">Buy Price: </label></div>
      <div class="input"><input type="text" name="buy_price" id="buy_price"/></div>
    </div>

    <div class="btn-icon">
      <label for="add-album">Add Album</label>
      <input type="image" src="/images/plus-black-symbol.png" id="add-album"/>
    </div>

  </form>
</div>
